html, body {
  background: #222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25em;
  font-family: Tahoma, Sans-Serif;
}

.frame {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  color: #fff;
  // border-radius: 50%;
  // border: 1px solid white;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  transform: translate3d(-50%, -50%, 1px);
}
