<template>
  <div class="help">
    <div class="center">
      <h1>Help</h1>
      <p>
        Watch MUST be connected to WiFi and in stand alone mode - not connected via bluetooth to phone.
      </p>
      <p>Double tap to open settings</p>
      <p>Single tap on stream screen to reload</p>
      <div class="settings__buttons">
        <router-link
          class="settings__buttons__button"
          to="/settings"
          tag="button">
          Back
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Help',
  props: {
    help: {
      type: Object,
      default: function () {
        return {
        }
      }
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .help {
    text-align: center;
    h1 {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    p, ul, li {
      width: 75%;
      font-size: 0.85em;
      margin: 0 auto 10px;
    }

    ul {
      margin-left: 25px;
      list-style-type: disc;

      li {
        width: 100%;
        margin-bottom: 2px;
      }
    }

    &__buttons {
      justify-content: space-between;
      text-transform: uppercase;

      &__button {
        margin: 20px auto 0;
        padding: 20px;
        border: 0;
        border-radius: 1.25em;

        &--red {
          background: #f00;
        }

        &--blue {
          background: #00f;
          color: #fff;
        }
      }
    }
  }
</style>
