<template>
  <div
    class="octowatch"
    @touchstart.stop.prevent="click"
    @click.stop.prevent="click">
    <img
      class="octowatch__stream"
      v-if="settings.api !== null"
      v-show="imageLoaded"
      @load="testImageLoad"
      @error="testImageLoad"
      :src="octopiStreamAddress"
      :style="{ transform: 'rotateX(' + settings.rotate +'deg)'}">
    <div class="octowatch__loading">
      <img src="@/assets/img/icon.png" alt="">
      <hr>
      <p>Double tap <br> for Settings</p>
      <hr>
      <div class="octowatch__loading__spinner center" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Octowatch',
  props: {
    settings: {
      type: Object,
      default: function () {
        return {
        }
      }
    }
  },
  data () {
    return {
      doubleTap: false,
      cacheBuster: Date.now(),
      imageLoaded: false
    }
  },
  computed: {
    octopiStreamAddress () {
      return `http://${this.settings.ip}/webcam/?action=${this.settings.action}?${this.cacheBuster}`
    }
  },
  mounted () {
    this.cacheBuster = Date.now()
  },
  methods: {
    click () {
      if (!this.doubleTap) {
        this.doubleTap = true

        setTimeout(() => {
          this.doubleTap = false
        }, 300)

        this.cacheBuster = Date.now()
        console.log('attempting reload')
        return false
      } else {
        this.$router.push('/settings')
      }
    },
    testImageLoad (e) {
      if (e.type && e.type === 'load') {
        this.imageLoaded = true
      } else if (e.type && e.type === 'error') {
        this.imageLoaded = false
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @keyframes spin {
      from {transform:rotate(0deg);}
      to {transform:rotate(360deg);}
  }
  .octowatch {
    &__stream {
      display: block;
      width: 100vw;
      height: 100vh;
      // border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      object-fit: cover;
      opacity: 0;
    }
    &__loading {
      z-index: 1;
      position: absolute;

      top: 50%;
      left: 50%;
      margin-top: -89px;
      margin-left: -63px;

      hr {
        width: 50%;
      }

      img {
        width: 20vw;
      }

      &__spinner {
        width: 80vw;
        height: 80vw;
        &:after {
          content: '';
          box-sizing: border-box;
          display: block;
          width: 100%;
          height: 100%;
          border: 5px solid #008080;
          border-radius: 50%;
          border-bottom-color: transparent;

          animation: spin 1s infinite linear;
        }
      }
    }
  }
</style>
