<template>
  <div class="settings">
    <div class="center">
      <h1>{{ this.$options.name }}</h1>
      <div class="settings__grid">
        <div>
          <label for="ip">IP: </label>
          <input
          type="text"
          name="ip"
          placeholder="IP to stream here"
          v-model="settings.ip">
        </div>

        <div>
          <label for="rotate">Rotate: </label>
          <input
            type="number"
            name="rotate"
            placeholder="Rotate image degrees"
            v-model="settings.rotate">
        </div>

        <div>
          <label for="action">Display: </label>
          <select
            name="action"
            v-model="settings.action">
            <option
              v-for="action in settings.actionTypes"
              :key="action"
              :value="action">{{ action }}</option>
          </select>
        </div>

      </div>
      <div class="settings__buttons">
        <router-link
          class="settings__buttons__button"
          to="/"
          tag="button">
          Back
        </router-link>

        <router-link
          class="settings__buttons__button settings__buttons__button--blue"
          to="/help"
          tag="button">
          Help
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Settings',
  props: {
    settings: {
      type: Object,
      default: function () {
        return {
        }
      }
    }
  },
  methods: {
    cancelPrint () {
      console.log('!')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .settings {
    h1 {
      text-transform: uppercase;
    }
    &__grid {
      margin-top: 20px;

      div {
        margin-bottom: 10px;
      }

      input, select {
        display: inline-block;
        height: 35px;
        font-size: 0.7em;
        width: 120px;
        box-sizing: border-box;
      }

      label {
        display: inline-block;
        width: 85px;
      }
    }
    &__buttons {
      text-transform: uppercase;
      width: 80%;
      margin: 0 auto;

      &__button {
        margin: 20px 20px 0;
        padding: 20px;
        border: 0;
        border-radius: 1.25em;

        &--red {
          background: #f00;
        }

        &--blue {
          background: #00f;
          color: #fff;
        }
      }
    }
  }
</style>
