<template>
  <div id="App" class="frame">
    <div
      class="overlay frame"
      ref="overlay">
    </div>
    <router-view
      class="frame"
      v-show="afterIntro"
      :settings="settings"/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      afterIntro: false,
      settings: {
        ip: null,
        rotate: 180,
        action: 'snapshot',
        actionTypes: [
          'snapshot',
          'stream'
        ]
      }
    }
  },
  mounted () {
    let cachedSettings = localStorage.getItem('octowatchSettings')

    if (cachedSettings !== null) {
      try {
        cachedSettings = JSON.parse(cachedSettings)
        Object.assign(this.settings, cachedSettings)
      } catch (error) {
        console.error('Could not set cached settings, rejecting, using defaults', error)
      }
    }

    if (this.settings.ip === null) {
      this.$router.push('/settings')
    }

    setTimeout(() => {
      this.$refs.overlay.classList.add('active')
      this.afterIntro = true
    }, 1000)

    // add eventListener for tizenhwkey
    document.addEventListener('tizenhwkey', (e) => {
      if (e.keyName === 'back') {
        try {
          tizen.application.getCurrentApplication().exit(); // eslint-disable-line
        } catch (ignore) {
        }
      }
    })
  },
  watch: {
    settings: {
      handler () {
        this.$set(this.settings, 'ip', this.settings.ip.replace(',', '.')) // Common issue prevention, commas instead of dots in IP
        localStorage.setItem('octowatchSettings', JSON.stringify(this.settings))
      },
      deep: true
    }
  }
}
</script>

<style lang="scss">
  @import '@/assets/styles/main.scss';

  .overlay {
    position: absolute;
    background-image: url('./assets/img/4.png');
    background-color: #323232;
    z-index: 3;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 1s;

    &.active {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }
</style>
